In [1]:
%matplotlib inline
import glob
import os
import pandas as pd
import json
import numpy as np
import scipy.stats as ss
from statsmodels.tsa.stattools import grangercausalitytests, adfuller
import matplotlib.pyplot as plt
import math
import warnings
warnings.simplefilter('ignore')

In [2]:
df = pd.read_csv("graphs/power_for_02-07-17_12H.csv")
df['in_power'] = df['in_power'].apply(pd.to_numeric)
df['out_power'] = df['out_power'].apply(pd.to_numeric)

In [3]:
df.head()

,in,in_amenity,in_power,influence,out,out_amenity,out_power
0,4037744278,bar,2.0,1.0,3186093217,restaurant,1.000000
1,4037744278,bar,2.0,1.0,404144840,parking,1.000000
2,404144840,parking,1.0,1.0,3648551975,restaurant,1.000000
3,3186093217,restaurant,1.0,1.0,3975094188,bar,1.000000
4,3648551975,restaurant,1.0,1.0,366700371,cafe,0.499287

In [5]:
df.sort_values(['in_power','influence'], ascending=False)

,in,in_amenity,in_power,influence,out,out_amenity,out_power
0,4037744278,bar,2.000000,1.000000,3186093217,restaurant,1.000000
1,4037744278,bar,2.000000,1.000000,404144840,parking,1.000000
27,3581990322,car_sharing,2.000000,1.000000,808930817,cafe,0.497522
28,3581990322,car_sharing,2.000000,1.000000,5276126259,restaurant,1.000000
38,4139840859,restaurant,2.000000,1.000000,4055481596,bar,1.000000
39,4139840859,restaurant,2.000000,1.000000,358805065,place_of_worship,1.000000
56,3976445299,bank,2.000000,1.000000,983388335,pharmacy,1.000000
57,3976445299,bank,2.000000,1.000000,3987038855,cafe,1.000000
35,2653086008,cafe,1.996382,1.000000,2538427496,pub,1.000000
36,2653086008,cafe,1.996382,0.996382,4139840859,restaurant,2.000000
86,411083201,cafe,1.610144,1.000000,2722757446,cafe,0.000000
85,411083201,cafe,1.610144,0.610144,3375035635,fast_food,1.000000
73,420507632,post_box,1.546267,1.000000,1433963042,cafe,1.000000
74,420507632,post_box,1.546267,0.546267,432817745,restaurant,1.000000
82,3611826293,nightclub,1.500260,1.000000,2166014681,bar,0.499740
83,3611826293,nightclub,1.500260,0.500260,5612872169,bar,0.000000
25,621793557,restaurant,1.248150,1.000000,2576036571,bar,1.000000
24,621793557,restaurant,1.248150,0.248150,3581990322,car_sharing,2.000000
6,432817704,restaurant,1.002982,1.000000,216085684,fuel,1.000000
7,432817704,restaurant,1.002982,0.002982,432818432,pharmacy,1.002381
9,432818432,pharmacy,1.002381,1.000000,4311776869,school,1.000000
10,432818432,pharmacy,1.002381,0.002381,1243846565,post_box,1.000000
2,404144840,parking,1.000000,1.000000,3648551975,restaurant,1.000000
3,3186093217,restaurant,1.000000,1.000000,3975094188,bar,1.000000
4,3648551975,restaurant,1.000000,1.000000,366700371,cafe,0.499287
8,216085684,fuel,1.000000,1.000000,2895323817,fast_food,1.000000
11,2895323817,fast_food,1.000000,1.000000,1980598351,post_box,1.000000
12,1980598351,post_box,1.000000,1.000000,2626607881,restaurant,0.660293
14,3975094188,bar,1.000000,1.000000,2494567991,restaurant,1.000000
15,2494567991,restaurant,1.000000,1.000000,281652631,post_box,1.000000
...,...,...,...,...,...,...,...
89,2340006882,fast_food,1.000000,1.000000,5301492675,cafe,0.000000
90,3931486660,restaurant,1.000000,1.000000,4625163005,cafe,0.000000
91,1428535776,restaurant,1.000000,1.000000,293573361,cafe,1.000000
94,4238465589,bank,1.000000,1.000000,995035559,fast_food,0.000000
95,346585657,cafe,1.000000,1.000000,4637572297,pub,0.000000
96,718375781,cafe,1.000000,1.000000,3564515774,restaurant,0.000000
97,293573361,cafe,1.000000,1.000000,289910903,place_of_worship,0.000000
98,1616343383,restaurant,1.000000,1.000000,1467802261,fast_food,0.000000
99,479491671,bar,1.000000,1.000000,1573722979,restaurant,0.000000
51,5251303383,restaurant,0.997018,0.997018,432818432,pharmacy,1.002381
53,5087270301,ice_cream,0.751850,0.751850,3581990322,car_sharing,2.000000
13,2626607881,restaurant,0.660293,0.660293,4037744278,bar,2.000000
102,3202476750,restaurant,0.567815,0.567815,974348031,ice_cream,0.000000
23,4632000807,fast_food,0.509274,0.509274,621793557,restaurant,1.248150
67,4077358636,restaurant,0.502478,0.502478,3976445299,bank,2.000000
43,411083060,post_box,0.500713,0.500713,432817704,restaurant,1.002982
84,2166014681,bar,0.499740,0.499740,5612872169,bar,0.000000
5,366700371,cafe,0.499287,0.499287,432817704,restaurant,1.002982
54,808930817,cafe,0.497522,0.497522,3976445299,bank,2.000000
79,2321299178,restaurant,0.490726,0.490726,621793557,restaurant,1.248150
92,3458525148,restaurant,0.473082,0.473082,260469100,cafe,0.000000
71,2815132110,bar,0.453733,0.453733,432817745,restaurant,1.000000
101,168942988,restaurant,0.432185,0.432185,974348031,ice_cream,0.000000
103,3641568148,cafe,0.412892,0.412892,5389246700,restaurant,0.000000
40,4631982804,restaurant,0.345378,0.345378,2653086008,cafe,1.996382
88,266673467,restaurant,0.274641,0.274641,3581990318,car_sharing,0.000000
34,4527812889,restaurant,0.270831,0.270831,2653086008,cafe,1.996382
93,1880213955,restaurant,0.194069,0.194069,3069429133,cafe,0.000000
100,383507544,restaurant,0.038790,0.038790,111586252,parking,0.000000
68,4909810957,bar,0.003618,0.003618,4139840859,restaurant,2.000000