In [2]:
%matplotlib inline
import glob
import os
import pandas as pd
import json
import numpy as np
import scipy.stats as ss
from statsmodels.tsa.stattools import grangercausalitytests, adfuller
import matplotlib.pyplot as plt
import math
import warnings
warnings.simplefilter('ignore')

# Nash Bargaining Problem

In [50]:
def poi_bargain(a, b):
    prop = a.sum() / (a.sum() + b.sum())
    return (prop - 0.5)

## Test Cases

In [51]:
#Case when there are 1 stronger to 1 weaker
p1 = np.asarray([0.8,   0.7,  0.9 ])
p2 = np.asarray([0.2,   0.3,  0.1 ])

poi_bargain(p1, p2)

0.29999999999999993

In [52]:

#Case when there are 2 stronger
p1 = np.asarray([0.8,   0.7,  0.9 ])
p2 = np.asarray([0.6,   0.8,  0.8 ])

poi_bargain(p1, p2)

0.021739130434782594

In [53]:
#Case when there are 2 stronger same rate
p1 = np.asarray([0.8,   0.7,  0.9 ])
p2 = np.asarray([0.8,   0.7,  0.9 ])

poi_bargain(p1, p2)

0.0

In [54]:
#Case when there are 2 weaker
p1 = np.asarray([0.2,   0.3,  0.1 ])
p2 = np.asarray([0.1,   0.2,  0.1 ])

poi_bargain(p1, p2)

0.09999999999999998

In [55]:
#Case when there are 1 weaker to 1 stronger
p1 = np.asarray([0.2,   0.3,  0.1 ])
p2 = np.asarray([0.8,   0.7,  0.9 ])

poi_bargain(p1, p2)

-0.30000000000000004

In [56]:
#Case when there are 2 weaker same rate
p1 = np.asarray([0.2,   0.3,  0.1 ])
p2 = np.asarray([0.2,   0.3,  0.1 ])

poi_bargain(p1, p2)

0.0

In [57]:
#Case when there are average 1 weaker
p1 = np.asarray([0.5,   0.5,  0.5 ])
p2 = np.asarray([0.2,   0.3,  0.1 ])

poi_bargain(p1, p2)

0.2142857142857143

In [58]:
#Case when there are average 1 stronger
p1 = np.asarray([0.5,   0.5,  0.5 ])
p2 = np.asarray([0.8,   0.7,  0.9 ])

poi_bargain(p1, p2)

-0.11538461538461536

In [59]:
#Case when there are 2 in average
p1 = np.asarray([0.5,   0.5,  0.5 ])
p2 = np.asarray([0.5,   0.5,  0.5 ])

poi_bargain(p1, p2)

0.0

In [60]:

#Case when both 0
p1 = np.asarray([0,   0,  0 ])
p2 = np.asarray([0,   0,  0 ])

poi_bargain(p1, p2)

nan

In [61]:
#Case when both 1
p1 = np.asarray([1,   1,  1 ])
p2 = np.asarray([1,   1,  1 ])

poi_bargain(p1, p2)

0.0

In [62]:
#Case when there upper and lower bound
p1 = np.asarray([1,   1,  1 ])
p2 = np.asarray([0,   0,  0 ])

poi_bargain(p1, p2)

0.5

In [63]:
#Case mixed
p1 = np.asarray([0.9,   0.2,  0.4,  0.6,   0.7,  0.1 ])
p2 = np.asarray([0.6,   0.2,  0.5,  0.4,   0.4,  0.3 ])

poi_bargain(p1, p2)

0.047169811320754707

In [22]:
df = pd.read_csv("graphs/power_for_02-07-17_12H.csv")
df['in_power'] = df['in_power'].apply(pd.to_numeric)
df['out_power'] = df['out_power'].apply(pd.to_numeric)

In [23]:
df.head()

,in,in_amenity,in_power,influence,out,out_amenity,out_power
0,4037744278,bar,2.0,1.0,404144840,parking,1.000000
1,4037744278,bar,2.0,1.0,3186093217,restaurant,1.000000
2,404144840,parking,1.0,1.0,3648551975,restaurant,1.000000
3,3186093217,restaurant,1.0,1.0,3975094188,bar,1.000000
4,3648551975,restaurant,1.0,1.0,366700371,cafe,0.499287

In [28]:
df.sort_values(['in_power','power'], ascending=False)

,in,in_amenity,in_power,influence,out,out_amenity,out_power,power
27,3581990322,car_sharing,2.000000,1.000000,808930817,cafe,0.497522,0.800794
0,4037744278,bar,2.000000,1.000000,404144840,parking,1.000000,0.666667
1,4037744278,bar,2.000000,1.000000,3186093217,restaurant,1.000000,0.666667
9,432818432,pharmacy,2.000000,1.000000,4311776869,school,1.000000,0.666667
10,432818432,pharmacy,2.000000,1.000000,1243846565,post_box,1.000000,0.666667
28,3581990322,car_sharing,2.000000,1.000000,5276126259,restaurant,1.000000,0.666667
38,4139840859,restaurant,2.000000,1.000000,4055481596,bar,1.000000,0.666667
39,4139840859,restaurant,2.000000,1.000000,358805065,place_of_worship,1.000000,0.666667
56,3976445299,bank,2.000000,1.000000,983388335,pharmacy,1.000000,0.666667
57,3976445299,bank,2.000000,1.000000,3987038855,cafe,1.000000,0.666667
35,2653086008,cafe,1.996382,1.000000,2538427496,pub,1.000000,0.666264
36,2653086008,cafe,1.996382,0.996382,4139840859,restaurant,2.000000,0.499547
86,411083201,cafe,1.610144,1.000000,2722757446,cafe,0.000000,1.000000
85,411083201,cafe,1.610144,0.610144,3375035635,fast_food,1.000000,0.616879
73,420507632,post_box,1.546267,0.546267,432817745,restaurant,1.000000,0.607268
74,420507632,post_box,1.546267,1.000000,1433963042,cafe,1.000000,0.607268
82,3611826293,nightclub,1.500260,0.500260,5612872169,bar,0.000000,1.000000
83,3611826293,nightclub,1.500260,1.000000,2166014681,bar,0.499740,0.750130
24,621793557,restaurant,1.248150,1.000000,2576036571,bar,1.000000,0.555190
25,621793557,restaurant,1.248150,0.248150,3581990322,car_sharing,2.000000,0.384265
6,432817704,restaurant,1.002982,1.000000,216085684,fuel,1.000000,0.500744
7,432817704,restaurant,1.002982,0.002982,432818432,pharmacy,2.000000,0.333995
81,3648576377,restaurant,1.000000,1.000000,1478460133,restaurant,0.000000,1.000000
87,3375035635,fast_food,1.000000,1.000000,378440021,bar,0.000000,1.000000
89,2340006882,fast_food,1.000000,1.000000,5301492675,cafe,0.000000,1.000000
90,3931486660,restaurant,1.000000,1.000000,4625163005,cafe,0.000000,1.000000
94,4238465589,bank,1.000000,1.000000,995035559,fast_food,0.000000,1.000000
95,346585657,cafe,1.000000,1.000000,4637572297,pub,0.000000,1.000000
96,718375781,cafe,1.000000,1.000000,3564515774,restaurant,0.000000,1.000000
97,293573361,cafe,1.000000,1.000000,289910903,place_of_worship,0.000000,1.000000
...,...,...,...,...,...,...,...,...
64,5096576183,parking_entrance,1.000000,1.000000,317081637,fuel,1.000000,0.500000
65,317081637,fuel,1.000000,1.000000,243356572,fuel,1.000000,0.500000
69,5002148263,kindergarten,1.000000,1.000000,1128335775,post_box,1.000000,0.500000
75,1433963042,cafe,1.000000,1.000000,4173572889,arts_centre,1.000000,0.500000
76,4173572889,arts_centre,1.000000,1.000000,4625129279,parking,1.000000,0.500000
77,4625129279,parking,1.000000,1.000000,669137860,post_box,1.000000,0.500000
80,4818955821,restaurant,1.000000,1.000000,3648576377,restaurant,1.000000,0.500000
91,1428535776,restaurant,1.000000,1.000000,293573361,cafe,1.000000,0.500000
72,432817745,restaurant,1.000000,1.000000,420507632,post_box,1.546267,0.392732
13,2626607881,restaurant,1.000000,1.000000,4037744278,bar,2.000000,0.333333
51,5251303383,restaurant,0.997018,0.997018,432818432,pharmacy,2.000000,0.332670
53,5087270301,ice_cream,0.751850,0.751850,3581990322,car_sharing,2.000000,0.273216
102,3202476750,restaurant,0.567815,0.567815,974348031,ice_cream,0.000000,1.000000
40,4631982804,restaurant,0.560488,0.560488,2653086008,cafe,1.996382,0.219209
23,4632000807,fast_food,0.509274,0.509274,621793557,restaurant,1.248150,0.289784
67,4077358636,restaurant,0.502478,0.502478,3976445299,bank,2.000000,0.200792
43,411083060,post_box,0.500713,0.500713,432817704,restaurant,1.002982,0.332988
84,2166014681,bar,0.499740,0.499740,5612872169,bar,0.000000,1.000000
5,366700371,cafe,0.499287,0.499287,432817704,restaurant,1.002982,0.332355
54,808930817,cafe,0.497522,0.497522,3976445299,bank,2.000000,0.199206
79,2321299178,restaurant,0.490726,0.490726,621793557,restaurant,1.248150,0.282209
92,3458525148,restaurant,0.473082,0.473082,260469100,cafe,0.000000,1.000000
71,2815132110,bar,0.453733,0.453733,432817745,restaurant,1.000000,0.312116
34,4527812889,restaurant,0.439512,0.439512,2653086008,cafe,1.996382,0.180431
101,168942988,restaurant,0.432185,0.432185,974348031,ice_cream,0.000000,1.000000
103,3641568148,cafe,0.412892,0.412892,5389246700,restaurant,0.000000,1.000000
88,266673467,restaurant,0.274641,0.274641,3581990318,car_sharing,0.000000,1.000000
93,1880213955,restaurant,0.219320,0.219320,3069429133,cafe,0.000000,1.000000
100,383507544,restaurant,0.038790,0.038790,111586252,parking,0.000000,1.000000
68,4909810957,bar,0.003618,0.003618,4139840859,restaurant,2.000000,0.001806